/*
  body:  最外层的容器    宽度1300px 居中 高度自适应 相对定位
  #top:  最上方导航栏    宽度1300px 高度60     相对定位
         top中子元素均相对于top进行绝对定位
  #content: 主体内容框   宽度1000px 居中 高度500px  默认定位
  #foot:  底部菜单栏    宽度1300px 高度 55px 相对定位


*/

/**
  最外层的body容器布局
 */
body{
    position: relative;
    /*border: #2b542c 1px solid;*/
    width: 1300px;
    height: 100%;
    margin: 0 auto;
    background: url("../images/bg.jpg") no-repeat center;

}

/**
  最上方导航栏布局
 */
#top{

    position: relative;
    margin-top: 5px;
    width: 1300px;
    height: 60px;
    /*box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);*/
    /*border-radius:5px;*/

    /*background-color: #e8f2ff;*/
}

/**
   主体内容框的布局
 */
#content{
    /*background-color: #a6e1ec;*/
    margin: 0 auto;
    width: 1000px;
    height: 500px;
    margin-bottom: 60px;
}
#content td{
    /*border: #00ec00 1px solid;*/
    width: 166px;
    height: 166px;
}

/**
   底部菜单栏布局
 */
#foot{
    width: 1300px;
    height: 55px;
    /*border: 1px solid red;*/
    position: fixed;
    bottom: 5px;
}

/**
   左上角网址标题菜单布局
 */
#none_httptitle_nav{
    position: fixed;
    top: 10px;
    left: 40px;
}