
/********************底部网址输入框按钮样式*******************/
#foot_input_name{
    float: left;
    width: 260px;
    color: #8a8a8a;
    height: 40px;
    margin-left: 40px;
    margin-top: 10px;
    border: 1.2px solid #fff;
}
#foot_input_href{
    float: left;
    width: 260px;
    border: 1.2px solid #fff;
    color: #8a8a8a;
    height: 40px;
    margin-left: 5px;
    margin-top: 10px;
}

#foot button{
    margin-top: 10px;
    height: 40px;
    width: 60px;
    float: left;
    margin-left: 10px;
}


/*分类下拉框样式*/
#foot_fenlei{
    float: left;
    height: 40px;
    width: 120px;
    margin-top: 10px;
    box-shadow: 0 0 5px #ccc;
    margin-left: 10px;
    border: none;
    outline: none;
    padding-left: 10px;
    /*font-weight: bold;*/
    font-size: 18px;
}
#foot_fenlei option{

    /*font-weight: bold;*/
    background-color: #ffffff;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

