@charset "utf-8";

/* 设置默认样式   */
*{
  margin:0px;
  padding: 0px;
}
a:hover{
  text-decoration: none;
}
a:visited{
    text-decoration: none;
}


/***************************主体内容框中的表格样式***********************/

#content a{

   /*border: #00c6ff 1px solid;*/
    position: relative;
   display: block;
   margin: 0 auto;
   width: 110px;
    height: 110px;
    padding-top: 15px;
    text-align: center;
    border-radius: 5px;
}
#content a:hover{
    background: rgba(255,255,255,0.2);
}

.httpimg{
    /*display: block;*/
    border-radius: 10px;
    width: 70px;
    height: 70px;
    color: red;font-size: 22px;
    line-height: 70px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
/*图片加载不出来的代替样式*/
.httpimg2{

    display: inline-block;
    border-radius: 10px;
    width: 70px;
    height: 70px;
    font-size: 35px;
    line-height: 70px;
    font-family: 华文楷体;


    /*border: #ffffff 1px solid;*/

    color: #00ffff;
    border: #00ffff 1px solid;

    /*background-color: #0e88eb;*/
    /*background-image: url("../images/httpimg.png");*/
}

.http_del{
    width: 20px;height: 20px;
    position: absolute;
    top: 2px;
    right: 2px;

}
.http_del:hover{

    width: 24px;height: 24px;
    top: 0px;
    right: 0px;
}
.httpname{
    width: 80%;
    margin: 0 auto;
    margin-top: 5px;
    text-align: center;
    font-size: 12px;
    color: #000;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

