
/***********雪花效果**************/
.toolbar{height:31px;line-height:29px;color:#8e8e8e;background:#f5f6f8;display:block;text-align:center}
.snowFall{position: absolute; top: 0; z-index: 3333;pointer-events: none;_display: none; color: #ffffff;}
.snowFallTop{left: 0; width: 700px; height: 162px; }
.snowFallLeft{left: 0; height: 500px; z-index: 3333;}
.snowFallRight{right: 0; height: 500px; z-index: 3333;}




/*窗口宽度小于1500px时*/
@media only screen and (max-width: 1500px) {
           
           /********顶部导航栏中搜索框和按钮样式********/
           #top_from_search{
               /* border: 1px solid pink; */
               position: absolute;
               left: 400px;
               top: 5px;
               width: 400px;
               border-radius: 8px 0px 0px 8px;
               border: 1.2px solid #fff;
               color: #222;
               height: 50px;
           }
           #top_from_button{
               /* border: 1px solid pink; */
               position: absolute;
               left: 802px;
               top: 5px;
               height: 50px;
               width: 100px;
               border-radius: 0px 8px 8px 0px;
               color: #222;
               font-size: 16px;
               border: 0px;
               background: #fff;
           }
           
           /*顶部导航栏中日期 星期 翻译 样式*/
           #top_date{
               /* border: 1px solid pink; */
               font-size: 15px;
               position: absolute;
               top:17px;
               left: 170px;
               cursor:pointer;
           }
           #top_week{
               /* border: 1px solid pink; */
               font-size: 15px;
               position: absolute;
               top:17px;
               left: 260px;
               cursor:pointer;
           }
           #top_translate{
               /* border: 1px solid pink; */
               font-size: 15px;
               position: absolute;
               top:17px;
               left: 330px;
               cursor:pointer;
           }
           
           /*顶部导航栏中 城市 天气 温度 详情样式*/
           #top_city{
               /* border: 1px solid pink; */
               font-size: 15px;
               position: absolute;
               top:17px;
               left: 950px;
           }
           #top_weather{
               /* border: 1px solid pink; */
               font-size: 15px;
               position: absolute;
               top:17px;
               left: 1020px;
           }
           #top_xiangqing{
               /* border: 1px solid pink; */
               font-size: 15px;
               position: absolute;
               top:17px;
               left: 1160px;
               cursor:pointer;
           }
           #top_shezhi{
            position: absolute;
            top:17px;
            left: 1240px;
            font-size: 15px;
            cursor:pointer;
        }
    
}
/*窗口宽度小于1700px大于1500px时*/
@media only screen and (max-width: 1700px) and  (min-width: 1500px){
              
           /********顶部导航栏中搜索框和按钮样式********/
           #top_from_search{
               /* border: 1px solid gray; */
               position: absolute;
               left: 475px;
               top: 5px;
               width: 400px;
               border-radius: 8px 0px 0px 8px;
               border: 1.2px solid #fff;
               color: #222;
               height: 50px;
           }
           #top_from_button{
               /* border: 1px solid pink; */
               position: absolute;
               left: 877px;
               top: 5px;
               height: 50px;
               width: 100px;
               border-radius: 0px 8px 8px 0px;
               color: #222;
               font-size: 16px;
               border: 0px;
               background: #fff;
           }
        
          /*顶部导航栏中日期 星期 翻译 样式*/
          #top_date{
               /* border: 1px solid pink; */
               font-size: 15px;
               position: absolute;
               top:17px;
               left: 170px;
               cursor:pointer;
          }
          #top_week{
               /* border: 1px solid pink; */
               font-size: 15px;
               position: absolute;
               top:17px;
               left: 290px;
               cursor:pointer;
          }
          #top_translate{
               /* border: 1px solid pink; */
               font-size: 15px;
               position: absolute;
               top:17px;
               left: 390px;
               cursor:pointer;
          }
        
        /*顶部导航栏中 城市 天气 温度 详情样式*/
        #top_city{
            /* border: 1px solid pink; */
            font-size: 15px;
            position: absolute;
            top:17px;
            left: 1025px;
        }
        #top_weather{
            /* border: 1px solid pink; */
            font-size: 15px;
            position: absolute;
            top:17px;
            left: 1125px;
        }
        #top_xiangqing{
            /* border: 1px solid pink; */
            font-size: 15px;
            position: absolute;
            top:17px;
            left: 1330px;
            cursor:pointer;
        }
        #top_shezhi{
            position: absolute;
            top:17px;
            left: 1410px;
            font-size: 15px;
            cursor:pointer;
        }
}
/*窗口宽度大于1700px时*/
@media only screen and (min-width: 1700px) {
        /********顶部导航栏中搜索框和按钮样式********/
        #top_from_search{
            /* border: 1px solid gray; */
            position: absolute;
            left: 575px;
            top: 5px;
            width: 400px;
            border-radius: 8px 0px 0px 8px;
            border: 1.2px solid #fff;
            color: #222;
            height: 50px;
        }
        #top_from_button{
            /* border: 1px solid pink; */
            position: absolute;
            left: 977px;
            top: 5px;
            height: 50px;
            width: 100px;
            border-radius: 0px 8px 8px 0px;
            color: #222;
            font-size: 16px;
            border: 0px;
            background: #fff;
        }
        
        /*顶部导航栏中日期 星期 翻译 样式*/
        #top_date{
            /* border: 1px solid pink; */
            font-size: 15px;
            position: absolute;
            top:17px;
            left: 210px;
            cursor:pointer;
        }
        #top_week{
            /* border: 1px solid pink; */
            font-size: 15px;
            position: absolute;
            top:17px;
            left: 335px;
            cursor:pointer;
        }
        #top_translate{
            /* border: 1px solid pink; */
            font-size: 15px;
            position: absolute;
            top:17px;
            left: 440px;
            cursor:pointer;
        }
        
        /*顶部导航栏中 城市 天气 温度 详情样式*/
        #top_city{
         /* border: 1px solid pink; */
         font-size: 15px;
         position: absolute;
         top:17px;
         left: 1170px;
        }
        #top_weather{
         /* border: 1px solid pink; */
         font-size: 15px;
         position: absolute;
         top:17px;
         left: 1275px;
        }
        #top_xiangqing{
         /* border: 1px solid pink; */
         font-size: 15px;
         position: absolute;
         top:17px;
         left: 1490px;
         cursor:pointer;
        }
        #top_shezhi{
            position: absolute;
            top:17px;
            left: 1570px;
            font-size: 15px;
            cursor:pointer;
        }
}